/*RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	outline-style: none 
}
/*RESET END*/

.container {
	margin: 0 auto;
	width: 1175px;
}

body {
	font-family: 'Open Sans', sans-serif;
}

/*HEADER*/
.logo-header {
	margin-top: 50px;
}

.menu {
	display: inline-block;
	margin-left: 270px;
	margin-bottom: 30px;
}

.list-menu {
	height: 34px;
}

.list-menu li {
	margin-right: 19px;
	display: inline-block;
	padding: 0 12px 15px;
}

.list-menu a {
	text-decoration: none;
	font-size: 15px;
	color: #111111;
	text-transform: uppercase;
	font-weight: bold;
}

.list-menu li:hover {
	border-bottom: 5px solid #e8bf5d;
}
/*END HEADER*/

.first-section {
	height: 100vh;
}

.welcome-section {
	height: calc(100vh - 119px);
	background: url(../image/lawyer.png), url(../image/gradient.png) repeat-x;
    background-blend-mode: multiply;
}

.welcome-info {
	position: absolute;
	bottom: 140px;
}
.welcome-info * {
	vertical-align: bottom;
}

.welcome-info h1 {
	font-family: 'Playfair Display', serif;
	letter-spacing: 3px;
	font-size: 55px;
	color: #ffffff;
}

.welcome-info h2 {
	font-size: 25px;
	color: #ffffff;
}

.welcome-info button {
	display: inline-block;
	margin-left: 330px;
	background-color:#e8bf5d;
	padding: 20px 50px;
	border: none;
	border-radius: 30px;
	font-weight: bold;
}

.welcome-info h1, h2 {
	margin-left: 120px;
	border-left: 2px solid #e8bf5d;
	padding-left: 15px;
}

.name-lawyer {
	display: inline-block;
}
